.navList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: $clr-primary-4;
  position: relative;
  li {
    height: max-content;
    width: 100%;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      color: $font-light;
      text-decoration: none;

      position: relative;
      padding: 0 1rem;
      margin: 1rem 0;
    }
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    height: 50px;
    white-space: nowrap;
    color: $font-light;
    svg {
      color: currentColor;
      cursor: pointer;
      transition: transform 300ms ease, filter 300ms linear;
      &.open {
        transform: rotate(90deg);
        // filter: brightness(0.5);
      }
    }
    .menuButton {
      display: block;
      visibility: visible;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      justify-content: flex-start;
    }
  }
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
  }
}
.links {
  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    height: 3px;
    background-color: currentColor;

    transition: transform 300ms ease;

    transform-origin: left;
    transform: scaleX(0.1);
  }
  a:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}
@media screen and (min-width: 650px) {
  .navList {
    height: 50px;
    flex-direction: row;
    .title {
      width: max-content;
      h1 {
        margin-inline: 2rem;
      }
      .menuButton {
        display: none;
        visibility: hidden;
      }
    }
    .dropdown {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 66%;
      transform: scaleY(1);
      .links {
        flex-direction: row;
      }
    }
  }
}

@media screen and (max-width: 649px) {
  .dropdown {
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: $clr-primary-4;

    transform: scaleY(1);
    transform-origin: top;
    transition: transform 500ms ease;
    .links,
    .socials {
      opacity: 1;
      transition: opacity 50ms linear;
    }
    &.closed {
      transform: scaleY(0);
      .links,
      .socials {
        opacity: 0;
      }
    }
    .links a::after {
      transform: scaleX(0.01);
    }
    .links a:hover::after {
      transform: scaleX(1);
    }
  }
}
